.App {
  text-align: center;
  display: grid;
  grid-template-columns: 250px auto;
}

.App .Sidebar .CardList {
  padding: 15px;
}
.App .CardList li {
  margin-bottom: 15px;
}
.App .CardList li img {
  width: 100%;
}
/* https://github.com/tsayen/dom-to-image/issues/77 */
.CardWrapper-CropBug {
  display: inline-block;
  margin: 30px 0;
}

/* CardInner require to prevent box-shadow at middle */
.App .Card .CardInner {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 800px;
  height: 400px;
  text-align: initial;
  box-shadow: 8px 8px 20px 10px rgba(100, 100, 100, 0.15);
}

.App .Options {
  margin-bottom: 15px;
}

.App .Card .CardInner .Content {
  background-color: white;
  padding: 15px;
  font-size: 20px;
}

.App .Card {
  background-color: rgb(74, 144, 226);
  padding: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App .Card .CardInner .CodeEditor {
}

.App .CodeEditor .ace_content {
  padding: 15px;
}

.App .CodeEditor .ace_hidden-cursors {
  opacity: 0;
}
