.Card3 {
  padding: 60px 50px;
  position: relative;
  .Heading {
    font-size: 30px;
  }
  .TextArea {
    text-align: left;
    min-height: 270px;
    font-size: 20px;
  }
  .CardInner {
    width: 700px;
    box-shadow: 8px 8px 20px 10px rgba(100, 100, 100, 0.15);
  }
}
